                                                                    /* --- Parte Gerais (fim antes do banner) --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #444;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1280px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header-full-width {
    width: 100%;
    background-color: #1a1a1a;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cabecalho {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: none; 
    gap: 20px;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
}

.logo span{
    color: #e67e22;
}

.search-bar {
    position: relative;
    flex-grow: 1; 
    max-width: 500px;
}

#searchItem {
    width: 100%;
    padding: 10px 15px 10px 40px; 
    border: none; 
    border-radius: 4px; 
    font-size: 0.95rem;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1rem;
    pointer-events: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    font-size: 0.9rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0;
}

.menu-item:hover{
    color: #E66000;
}

.carrinho-icon,
.acessibilidade-icon {
    gap: 0;
}
.carrinho-icon span,
.acessibilidade-icon span {
    display: none;
}

.menu-item i {
    font-size: 1.4rem;
}

/* --- Carrossel/Banner --- */

.carrocel {
    position: relative;
    margin-top: 20px;
    width: 100%;
    overflow: hidden; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides-container {
    display: flex; 
    width: 300%; 
    transition: transform 0.5s ease-in-out; 
}

.slide {
    width: 33.3333%;
    flex-shrink: 0; 
    height: 350px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.banner-img {
    width: 100%; 
    height: 100%; 
    display: block;
    object-fit: cover; 
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 10;
}

.nav-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#prevBtn {
    left: 15px;
}

#nextBtn {
    right: 15px;
}

/* --- Categorias --- */

.categorias {
    margin-top: 30px;
}

.category-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.category-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex-basis: 30%;
    transition: box-shadow 0.2s;
}

.category-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.category-item a {
    display: block;
    height: 150px;
    padding-top: 5px;
    overflow: hidden;
}

.category-item img {
    height: auto;
    max-height: 120px;
    margin: 0 auto 10px;
    display: block;
    object-fit: contain;
}

.category-item p {
    font-weight: bold;
    color: #333;
}

/* --- Seção de Recomendados --- */
.recomendados {
    margin-top: 40px;
}

/* --- Aqui seria os produtos, verificar mais tarde --- */

                                    /* --- Parte de Acessibilidade: Menu Latera, teste simples --- */
.sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1001;
}

.sidebar.active {
    right: 0;
}

.sidebar h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar button {
    width: 100%;
    padding: 12px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #e9e9e9;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #888;
}

/* --- Estilos de Alto Contraste EM TESTES / Alterar cores--- */
body.high-contrast {
    background-color: #000;
    color: #fff;
}
body.high-contrast .container,
body.high-contrast .product-card,
body.high-contrast .category-item {
    background-color: #111;
    border-color: #fff;
    color: #fff;
}
body.high-contrast a,
body.high-contrast .product-price {
    color: #FFFF00;
}
body.high-contrast #searchItem {
    background-color: #222;
    color: #fff;
    border-color: #fff;
}

                                                                    /* --- Parte de Animação de entrada --- */

@keyframes fadeInUp {
  
  from {
    opacity: 0;
    transform: translateY(20px); 

  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.body, .container, .login-wrapper, .cart-container, .header-full-width {
  animation: fadeInUp 0.6s ease-out;
}

                                                                    /* --- Parte de Login --- */

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; /* Espaço para o menu de navegação */
    flex-grow: 1; /* Centraliza verticalmente na tela */
}

.card-container {
    width: 340px;
    perspective: 1000px;
}

/* --- Estilo do Toogle/Switch --- */
.switch-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #444;
    user-select: none;
}

.label-login {
    margin-right: 15px;
    color: #000;
}

.label-register {
    margin-left: 15px;
    color: #888;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e67e22;
    transition: 0.4s;
    border-radius: 34px;
    
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* --- Estilo do Card Principal --- */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

.flip-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s; /* Tempo de animação do flip */
    transform-style: preserve-3d; /*Habilita a animação 3D */
    border-radius: 8px;
}

/* A classe 'flipped' é adicionada pelo JS para girar o card */
.flip-card.flipped .flip-card__inner {
    transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 30px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.flip-card__back {
    transform: rotateY(180deg);
}

/* --- Componentes do Formulário --- */
.title {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.flip-card__input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #333;
}

.flip-card__btn {
    padding: 12px 25px;
    margin-top: 2px;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    color: #c15e07;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

.flip-card__btn:hover {
    background-color: #ef9d21;
    color: #000;
}

                                                                    /* --- Parte do Carrinho --- */

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    max-width: 1300px;
    margin: 20px auto;
}

.cart-items-column {
    flex: 2;
    min-width: 300px;
}

.cart-summary-column {
    flex: 1;
    min-width: 280px;
    max-width: 380px;
    position: sticky; 
    top: 20px;

}

/* --- Componentes da Coluna Esquerda --- */

.cart-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.cart-section-header h3 {
    margin: 0;
    font-size: 16px;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
}

.remove-all-btn {
    color: #E53E3E;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* --- Aqui seria o Card de Produto, verificar com a integração mais tarde --- */



/* --- Componentes da Coluna Direita (Resumo) --- */
.summary-box {
    background-color: var(--color-white);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.237);
    padding: 24px;
    
}

.summary-header {
    margin: 0 0 16px;
    font-size: 16px;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 12px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--color-text-secondary);
    margin-bottom: 12px;
}

.summary-line strong {
    font-size: 16px;
    color: var(--color-text-primary);
}

/* --- Botões --- */
.btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.149);
}

.btn-continuar {
    background-color: var(--color-orange);
    color: var(--color-white);
    margin-bottom: 8px;
}

.btn-continuar:hover {
    background-color: #E66000;
}

.btn-voltar {
    background-color: var(--color-white);
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.btn-voltar:hover {
    background-color: #ef9d21;
}